.NewEntryForm {

  &__LabelContainer {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
  }

  &__ErrorText {
    color: red;
  }
}

.field label {
  text-align: left;
}

